[Desktop Entry]
Name=OctoSlave
Comment=Autonomous AI research & coding assistant
Exec=ots %U
Icon=octoslave
Terminal=true
Type=Application
Categories=Science;Development;
Keywords=AI;assistant;coding;research;chatbot;
StartupNotify=true
